{% extends "base.html" %}

{% block content %}
<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h1 style="font-size:25;text-align:center"><b>Prototype SMS Spam Classifier App</b></h1>
            <p class="lead" style="text-align: center">Input your comments to detect if it's a Spam or a Ham</p>

            <div class="container">
                <br>
            </div>

            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form action="{{ url_for('predict')}}" method="POST">
                    <div class="container">
                        <textarea name="comment" class="form-control" arias-label="Enter your comments..."></textarea>
                    </div>
                    <div class="container">
                        <br>
                    </div>
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-primary btn-large" role="button">Predict</button>
                        <input type="reset" name=" " class="btn btn-success btn-large" value="Clear">
                    </div>
                </form>
            </div>
            <div style="height: 700px"></div>
            <p class="lead mb-0">You've reached the end. Thank you!</p>
        </div>
    </div>
</div>

{% endblock content %}